  *{
    padding: 0;
    margin: 0;
    }
    .mainclass{
        height: 50px;width:100%;
        /* border: 3px solid red; */
        padding: 5px;
        
    }   
    .mainclass>h2
     {
        float: left;
        line-height: 40px;
        margin-left: 15px;   

     }
     .i{
        display: inline-block;
        line-height: 30px;
        margin-left: 20px;
   
     }
     .i1{
        width: 600px;
        border: 2px solid gray;
        border-radius: 10px;
        
     }
     .i1:hover{
      box-shadow: 0px 0px 10px 2px gray;
     }
     .i1>#Place{
        width:230px;
        height: 35px;
        margin-left: 10px;
        border: none;
        padding-left:0px;
     }
     .i1>#s{
        width:270px;
        height: 35px;
        margin-left: 10px;
        border: none;
     }
     .i2{
        width: 600px;
        line-height: 40px;
        float: right; 
         margin-right: 30px;
        /* border: 2px solid gray; */
        border-radius: 10px;
        
     }
     .i2>#lin{
        width:280px;
        height: 35px;
        margin-left: 10px;
        border: none;
        background: none;
        border-radius: 10px;
        padding-left:0px;
     }
     .i2>#su{
        width:280px;
        height: 35px;
        margin-left: 10px;
        border: none;
        background: none;
        border-radius: 10px;
     }
     /* .mainclass>.i2>a{
      text-decoration: none;
      margin: 120px;
     } */
     .i2>#lin:hover{
      box-shadow: 0px 0px 20px 2px gray;
     }
     .i2>#su:hover{
      box-shadow: 0px 0px 20px 2px gray;
     }
     .nbar{
     height: 40px;width:100%;
        /* border: 3px solid yellow;  */
        padding: 5px;
        margin-left: -9px;
        margin-top: 10px;
     }
     li{
        display: inline-block;
        margin: 10px;  
     }
     ul>li>a{
        text-decoration: none;
        list-style-type: none;
        color:gray;
        display: inline;
     }
     span{
        color: gray;
        font-size: 30px;
     }
     .j1,.j2,.j3{
      margin-left: 20px;
      height: 70px; width: 70px;
      display: inline;
   
     }
     .j>h3{
      display: inline-block;
        line-height: 50px;
        margin-left: 15px; 
     }
     .j:hover{
      box-shadow: 0px 0px 20px 2px gray;
     }
     .ji{ 
      line-height: 40px; width: 40px;
      border:3px solid blue;
      padding-left:10px ;
      border-radius: 50%;
     } 
     .sug>ul>li{
      border: 2px solid gray;
      border-radius: 7px;
      margin: 4px; padding: 4px;
     }
     #seat{
      border: none;
      color: gray;
     }
     li:hover{
      box-shadow: 0px 0px 10px 2px gray;
     }
     .pt{
         height: 410px;
         width: 100%;
         background-color: rgb(236, 227, 227);
         display: inline-block; 
     }
     .pt>a{
      
      visibility: hidden;
      
     }
     .pt:hover{
      height: 450px;
     }
     .pt:hover.pt>a{
      text-align: center;
      text-decoration: none;
      color: rgb(48, 46, 46);
      height: 35px;width: 100%;
      visibility: visible;
     }
     /* caption{
      display: inline; 
      line-height: 50px;
      margin-left: 15px; 
      color: red;
      
     } */
    
     /* .pt>table>tr>td>img{
       height: 250px; width: 250px;
       margin: 10px; padding: 2px;
       border: 5px solid gray;
       border-radius:250px;
     } 
     .pt>img:hover{
       
       height: 300px; width: 300px;
       margin: 10px; padding: 2px;
       border: 5px solid red;
       border-radius:350px ;
     }*/
    
     
     td{
      text-align: center;
     }
     h1,h2,h3{
      margin-left: 20px;
     }
     .mpt>img{
       height: 150px; width: 150px;
       margin-left: 20px;
       margin: 25px; padding: 2px;
       border: 2px solid whitesmoke;
       box-shadow: 0px 0px 20px 2px gray;   
     }
     
     /* .mpt>img:hover{
       height: 250px; width: 250px;
       margin-left: 20px;
       margin: 25px; padding: 2px;
       border: 2px solid whitesmoke;
       box-shadow: 0px 0px 20px 2px red;   
     } */
     .mptc>table>tr,td{
     
      padding-left: 30px;
      padding-right: 30px;
      text-align: center; 
      font-size: medium; 
      font-weight: bold;
     }
     .mptc>table{
      padding-left: 40px;
      }
     
      .dr{
        /* background-color: aqua; */
        display: inline-block;
        margin-right: 30px;

     }
     .drc1>img{
       height: 250px; width: 250px;       
       margin: 40px;  padding: 2px;
       border-radius :20px;  margin-bottom: 10px;
     }
    
     /* .drc1>.bm>p{
      height: 20px; width: 250px;   
     } */
     .drc2>img{
       height: 250px; width: 250px;       
       margin: 40px; padding: 2px;
       margin-bottom: 10px;
       border-radius :20px;   
     }
    
     .drc3>img{
       height: 250px; width: 250px;       
       margin: 40px; padding: 2px;
       margin-bottom: 10px;
       border-radius :20px;   
     }
     .drc4>img{
       height: 250px; width: 250px;       
       margin: 40px; padding: 2px;
       margin-bottom: 10px;
       border-radius :20px;   
     }
     .drc5>img{
       height: 250px; width: 250px;       
       margin: 40px; padding: 2px;
       margin-bottom: 10px;
       border-radius :20px;   
     }
     .drc6>img{
       height: 250px; width: 250px;       
       margin: 40px; padding: 2px;
       margin-bottom: 10px;
       border-radius :20px;
      }
       .drc7>img{
       height: 250px; width: 250px;       
       margin: 40px; padding: 2px;
       margin-bottom: 10px;
       border-radius :20px;   
     }
     .drc8>img{
       height: 250px; width: 250px;       
       margin: 40px; padding: 2px;
       margin-bottom: 10px;
       border-radius :20px; 
        }
     .bb{
         position: absolute;
         top:1280px;
         left:47px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color: blue;
         color:white;
     }
     .bc{
         position: absolute;
         top:1690px;
         left: 47px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color:blue;
         color:white;
     }
     
     .bd{
      position: absolute;
         top:1280px;
         left: 416px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color: blue;
         color:white;
     }
     .bh{
      position: absolute;
         top:1690px;
         left: 416px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color: yellow;
         color:white;
     }
     .be{
        position: absolute;
         top: 1690px;
         left: 1152px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color: blue;
         color:white;
     }
     .bf{
      position: absolute;
         top:1280px;
         left:785px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color:blue;
         color:white;
     }
     .bx{
         position: absolute;
         top:1280px;
         left: 1152px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color: blue;
         color:white;
     }
     .bz{
      position: absolute;
         top:1690px;
         left: 785px;
         z-index: 2;
         height: 20px;width: 130px;
         background-color: blue; 
         color:white;
     }    
     pre{
      font-weight: bold;      
     }    
     .bp{
      font-weight: bold;
      width: 250px;
      margin-left: 40px;
     }
     .bm{
      font-weight: bold;
      text-align: right;
      margin-left: 40px;
      width: 250px;
     }
     .ic{
      border: 3px solid;
      background-color: green;
      border-radius: 8px;
      padding: 0px 7px;
      color: white;
      font-size: medium;
     }
     .bp>span{
      float: right;
     }
     
    
      /* .nbar::after{
       
        content: "HI";
        position: absolute;
        top: 1040px;
        left: 0%;
        height: 75px;
        width: 75px;
        background-color: red; 
         --- background-image:url(/APJ.html); -- 
        border-radius: 50%;
        opacity: 0.5;       
    }  */
    #s{
      outline: none;
      padding-left: 20px;
      padding-right: 10px;
    }
    .eon{
      background-color:  rgb(236, 227, 227);
      height: 400px;
      width: 100%;
    }
     .eon>#explore{
      width:1400px;
        height: 45px;
        margin-left: 20px;
        border: none;
        border-radius: 5px;
        padding-left:20px;
        font-weight: bolder;
        color: #474040;
      
    }
   
    .s{
            height: 150px;
            width: 18%;
            float: left;
            margin-top: 20px;
            margin-left: 20px;
         }
    .s>i{
            font-size: 55px;
            padding-right: 25px;
        }
  
   .s>img{
      margin-left: 9px;
   }
   .fhead{
      /* height: 50px; */
      font-size: larger;
      background-color: yellowgreen;
      display:flex;
   }
   #country,#lang{
     border-radius: 5px;
     height: 25px;
     margin: 3px;
   }
   .fhead>img{
     height: 25px;
     margin: 3px;
     padding-left: 1100px;
   }